---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
    seller: Seller;
    title: string;
}

interface Seller {
    name: string;
    whatsapp: string;
}

const { seller, title } = Astro.props;
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <style>
            @tailwind base;
            @tailwind components;
            @tailwind utilities;
        </style>
    </head>
    <body
        class="bg-gradient-to-br from-gray-50 to-gray-100 text-gray-900 font-sans antialiased"
    >
        <Header seller={seller} />

        <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 pb-16">
            <slot />
        </main>

        <Footer seller={seller} />
    </body>
</html>
